body {
  background-image: url("https://media.meteojob.com/theme/2.3/images/bg-clouds.png"),linear-gradient(#80c1ee,#1981c8, #82c2ef);
  background-repeat: repeat;
  margin:25%;
  width:900px;
  font-size: 1.4em;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: -0px;
  
  
}
.meteo {
  
}
/*les grid*/
.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    margin-left: 20px;
    
  }
  .container :nth-child(1) {
    background-color:#3598db;
    
    
  }
  
 
  .contenu {
    background-color: white;
    margin-top: -50vh;
   
    
  }
  .container > div {
   
    background-color:#f2f2f2;
    padding: 1em;
    color:black; 
    font-weight: 500;
    text-align: center;
    font-size: 1.6;
    
   
  }

  input{
    height: 5vh;
    width: 94%;
    margin: 8px;
    border: 1px solid gray;
    margin-left: 20px;

  }
  .titre {
    display: flex;
    justify-content: center;
    margin-top: 15em;
  }
  label {
    margin-left: 20px;
    font-weight: bold;
  }

  p { 
    margin-left: 20px;
    font-weight: 800;
  }

  .bouton {
    width: 20%;
    height: 8ex;
    border: 1px solid #000;
    background-color:#3598db;
    color: #ffff;
    margin-bottom: 10%;
    margin-top: 5%;
    
  }
  .name {
    width: 44%;
  }

  .monprenom {
    width: 46%;
  }
  
  legend {
    padding-bottom: 20px;
    color: #fff;
    font-size: 1.4em;
  } 

  a {
    color: #000;
  }
 
  .photo {
    display: flex;
    justify-content: center;
    margin-top: -20%;
    margin-bottom: 50%;
 
  }
  .footer {
    display: flex;
    justify-content: center;
    margin-bottom:100px;
  }

  .text {
    text-align: center;
    color: #fff;
    text-decoration: none;   
    display: block;
    top: 200px;
    position: absolute;
    margin-right: 40px;
    margin-left: -290px;
       
  }



  .icon {
    padding-top: 100px;
  }


  ::placeholder {
    padding-left: 10px;
    font-size: 1.2em;
  }
.passeword input {
  display: flex;
  border: none;
  border: 1px solid black;

}
.fa{
  position: absolute;
  top:68%;
  padding-right:14px;
  font-size: 24px;
  left: 71%;
  box-sizing: border-box;
  height: 5vh;
  }
#pre {
  position: absolute;
  top: 36%;
}

.switch{
  position: absolute;
  width: 60px;
  height:40px ;
  display: inline-block;
  padding-left: 25px;
  margin-left: 10%;
    
}

.switch .slider{
  border-radius: 6%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(187, 179, 179);
}

.switch input{ display: none;}

.switch .slider::before{
border-radius: 6%;
content: "on";
position: absolute;
height: 30px;
width: 28px;
background-color: white;
left: 4px;
top: 3px;
}





